.row
  .col-sm-3.ml-auto
    =link_to 'New Article', new_article_path, class: %w(btn btn-warning mt-4 )
%h1.text-center.mb-4 Articles 

= render partial: "articles/partials/article"

.row.justify-content-center
  = paginate @articles




