@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100vh;
}

.navbar {
  background-color: black !important;

  #logo {
    color: white !important;
    font-weight: bold;
    font-size: 1.7em;
    float: left;
    letter-spacing: -1px;
  }
  .nav-link {
    color: white !important;
  }

  .navbar-toggler {
    background-color: #efefef;
  }
}

.jumbotron {
  background-image: asset-url('fern.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

#page-content {
  flex: 1 0 auto;
  background-color: #DCDCDC;

  
}

#home-container {
  margin-top: 35px;
}

#sticky-footer {
  flex-shrink: none;
}
